@page "/PlayersInitial"
@inject NavigationManager Nav

<div class="back-button" @onclick="GoBack">
    ⬅ @GlobalData.GetLocalizedUITag("MainMenu_Back")
</div>

<div class="initial-players-container">
    <div class="text-box">
        <p>
            @string.Format(GlobalData.GetLocalizedUITag("Players_Initial"), GlobalData.GetLocalizedPlayerNumber()).AsMarkup()
        </p>
    </div>

    <button class="continue-button" @onclick="Continue">
        @GlobalData.GetLocalizedUITag("MainMenu_Continue")
    </button>
</div>

@code
{
    [CascadingParameter] private GlobalData GlobalData { get; set; } = null!;

    private void GoBack()
    {
        Nav.NavigateTo("/PlayersSelect");
    }

    private void Continue()
    {
        Nav.NavigateTo("/PlayersNameEntry/0");
    }
}