@page "/PlayersVillageConfirm"
@inject NavigationManager Nav

<div class="back-button" @onclick="GoBack">
    ⬅ @GlobalData.GetLocalizedUITag("MainMenu_Back")
</div>

<div class="village-confirmation-container">
    <div class="text-box">
        @string.Format(GlobalData.GetLocalizedUITag("Players_VillageConfirmation"), GlobalData.TownName).AsMarkup()
    </div>

    <button class="continue-button" @onclick="Continue">
        @GlobalData.GetLocalizedUITag("MainMenu_Continue")
    </button>
</div>

@code 
{
    [CascadingParameter] private GlobalData GlobalData { get; set; } = null!;

    private void GoBack()
    {
        Nav.NavigateTo("/PlayersVillage");
    }

    private void Continue()
    {
        Nav.NavigateTo("/PlayersScenario");
    }
}